PHANTOM3_V2_HOST=0.0.0.0
PHANTOM3_V2_PORT=4317
PHANTOM3_V2_REMOTE_DASHBOARD=true
PHANTOM3_V2_PUBLIC_BASE_URL=http://127.0.0.1:4317
PHANTOM3_V2_DATA_DIR=./data
PHANTOM3_V2_LOG_DIR=./logs
PHANTOM3_V2_MARKET_REFRESH_MS=30000
PHANTOM3_V2_MARKET_LIMIT=6
PHANTOM3_V2_CONTROL_TOKEN=replace_me_with_a_long_random_token
