PHANTOM3_V2_HOST=0.0.0.0
PHANTOM3_V2_PORT=4317
PHANTOM3_V2_REMOTE_DASHBOARD=true
PHANTOM3_V2_PUBLIC_BASE_URL=http://10.0.0.111:4317
PHANTOM3_V2_DATA_DIR=./data
PHANTOM3_V2_LOG_DIR=./logs
PHANTOM3_V2_CONTROL_TOKEN=replace_me_with_a_long_random_token
